@model ASP_Forum.Models.Reply

<form method="post" asp-action="CreateReply" asp-controller="Home">
    <input type="hidden" asp-for="TopicId" value="@ViewBag.TopicId" />
    <input type="hidden" asp-for="UserName" value="@User.Identity.Name" />
    <label asp-for="ReplyBody">Содержание</label><br />
    <textarea rows="20" cols="70" asp-for="ReplyBody"></textarea><br />
    <input type="submit" value="Отправить" />
</form>

@if (ViewBag.Error)
{
    <font color="red"><h3>Содержимое полей не может быть короче 5 символов.</h3></font>
}