@model IEnumerable<ASP_Forum.Models.Topic>

<h1>ТЕМЫ ФОРУМА</h1>

@foreach (var item in Model)
{
    <a href="/Home/ViewTopic/@item.Id">@item.Name</a><br />
}
<br /><br />
<a asp-controller="Home" asp-action="CreateTopic" asp-route-id="@ViewBag.SecId">Создать тему</a>